@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap);
@import './variables';
@import './mixins/init';
@import './placeholders';

*,
:after,
:before {
  box-sizing: border-box;
}

:focus {
  outline-color: $colorPrimary !important;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $colorGrayLighter;
}

::-webkit-scrollbar-thumb {
  background-color: $colorPrimary;
  border-radius: 0.25rem;
}

html {
  font-size: 16px;
}

body,
html,
#app {
  height: 100%;
  min-height: 100%;
}

body {
  color: $colorSecondary;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  width: 100%;

  @include media_query('lg') {
    background: {
      attachment: fixed;
      image: url('~@/assets/svg/field.svg');
      position: right bottom;
      repeat: no-repeat;
    }
  }
}

article,
aside,
figcaption,
figure,
hgroup,
main,
nav,
section {
  display: block;
}

main {
  height: calc(100vh - #{$headerHeight});
  max-height: calc(100vh - #{$headerHeight});
  position: relative;
  width: 90%;
  max-width: 50rem;
  margin: {
    left: auto;
    right: auto;
  }

  @include media_query('lg') {
    padding-top: 0;
    nav ~ & {
      margin-left: $navWidth;
    }

    .page-title {
      height: #{$headerHeight};
      min-height: #{$headerHeight};
      display: flex;
      align-items: center;
    }
  }
}

.h1,
h1 {
  margin: {
    bottom: #{spacer(1)};
    top: #{spacer(0_25)};
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  margin: {
    bottom: #{spacer(0_25)};
    top: #{spacer(0_5)};
  }

  &:first-child {
    margin-top: 0;
  }
}

a {
  color: currentcolor;
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $colorPrimary;
  }
}

label {
  cursor: inherit;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-right: #{spacer(1)};
  }

  + label,
  + span {
    vertical-align: middle;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.ui-list-style > li:before {
    background: $colorPrimary;
    content: '';
    display: inline-block;
    height: 8px;
    margin-right: #{spacer(2)};
    vertical-align: middle;
    width: 8px;
  }
}

.hand-cursor {
  cursor: pointer;
}

.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disabled,
[disabled] {
  cursor: default;
  outline: 0;
  opacity: 0.5;
  pointer-events: none;
}

.icon-action {
  display: inline-block;
}

.border-top {
  border-top: 1px solid $colorGrayLighter;
}

@import './components/grid';
@import './components/fonts';
@import './components/texts';
@import './components/spacing';
@import './components/animations';
